#table1, #table2 {
    width: 85vw;
    border-collapse: collapse;
}

#table1, #table2 {
    margin: 1%;
}

td, th {
    border: 1px solid grey;
}

#userName {
    font-size: 13px;
}
#navbar-teams{
    display: flex;
}
#restofthecontent{
    padding-left: 8vw;
}