#table1, #table2 {
    width: 98%;
    border-collapse: collapse;
}

#table_heading {
    padding: 1%;
}

#table1, #table2 {
    margin: 1%;
}

td, th {
    border: 1px solid grey;
}

#userName {
    font-size: 13px;
}