#table1, #table2 {
    margin: 1%;
    border-radius: 5px;
    padding: 1.5%;
    background-color: white;
}

table {
    width: 85vw;
    font-size: small;
    border-collapse: collapse;
}

tr {
    border: 1px solid lightgrey;
}

tr:nth-child(even) {
    background-color: rgb(233,236,244);
}

td {
    padding: 7px;
}

th {
    padding: 10px;
}

#navbar-teams{
    display: flex;
}
#restofthecontent{
    padding-left: 8vw;
    width: 100vw;
}