#EQ{
    background-color: white;
    padding: 10px;
    width: 25vw;
    margin: 15px;
    border-radius: 10px;
    height: 70vh;
    margin-top: 2px;
    
}
#button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: gray;
    padding: 10px;
    font-size: 15px;
    border-bottom: 2px solid rgb(241,242,244);
    width: 50%;
}
#active-button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: rgb(0,98,214);
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-bottom: 2px solid rgb(0,98,214);
    width: 50%;
}
#allbuttons{
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
}
#metric {
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(241,242,244);
}
#metric * {
    font-size: 15px;
}
#metric_label{
    display: flex;
    justify-content: space-between;
}

/* slider css */

body .rc-slider-handle {
    background: #0062D6;
    border: #0062D6;
    opacity: 1;
    border-radius: 4px;
    width: 0.3vw;
    height: 2vh;
}

/* for track (till the marker) */
body .rc-slider-track{
    background: linear-gradient(to left, #B1B6BE 0%, #B1B6BE 40%, #D7DAE3 40%, #D7DAE3 60%, #EDF2FB 60%, #EDF2FB 100%);
}

/* for rail (after the marker) */
body .rc-slider-rail{
    background: linear-gradient(to left, #B1B6BE 0%, #B1B6BE 40%, #D7DAE3 40%, #D7DAE3 60%, #EDF2FB 60%, #EDF2FB 100%);
}