#dealspage {
    height: 100vh;
    width: 100vw;
    padding-left: 8vw ;

}
#title{
    color: black;
    padding: 10px;
    font-size: 20px;
}
#dialoguebox {
    background-color: white;
    border-radius: 10px;
    margin: 2vh;
    padding: 10px;
    width: fit-content;
}
#dialogueboxheading{
    padding-left: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
#quadrantChart {
    width: min-content;
    height: min-content;
}
#lineChart {
    width: 85vw;
    height: min-content;
}
#q1Container {
    padding: 0.01%;
    border-right: 2px dashed rgb(222,222,222);
    border-bottom: 2px dashed rgb(222,222,222);
}
#q2Container {
    padding: 0.01%;
    border-bottom: 2px dashed rgb(222,222,222);
}
#q3Container {
    padding: 0.01%;
    border-right: 2px dashed rgb(222,222,222);
}
#q4Container {
    padding: 0.01%;
}
#quadrant {
    position: relative;
    margin: 10px;
}
#chartContainer {
    margin: 10px;
}
#quadrantTitle {
    position: absolute;
    top: 3%;
    left: 3%;
}
#quadrantTotal {
    position: absolute;
    top: 43%;
    left: 42%;
}
#oneQuadrant {
    position: absolute;
}
#quadrantRow {
    display: flex;
}
#timelineChart {
    padding: 1.5%;
    border-radius: 10px;
}
#navbar-on-deals-page{
    display: flex;
}