*{
  font-family: 'Poppins', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(233,236,244);  
}
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}